@use '/src/styles/constants' as c;
@use '/src/styles/mixins' as m;

.fourthSection {
  position: relative;
  width: 100%;
  overflow: hidden;
  .container {
    @include m.mediaMobile {
      padding: 100px 0;
    }
    position: relative;
    padding: 250px 0;

    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: auto;
    .innerContainer {
      width: 92%;
      max-width: calc(100% - 48px);

      height: 100%;
      margin: 0 auto;
      .contentsWrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .contents {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-start;

          width: 100%;
          height: 100%;
          .firstContent {
            @include m.mediaMobile {
              margin-bottom: 0px;
            }
            margin-bottom: 210px;
            transform: translate3d(0px, 50px, 0px);
            .title {
              @include m.mediaMobile {
                margin-bottom: 10px;
              }
              font-size: 28px;
              font-weight: 700;
              line-height: 1.3;
              color: #3182f6;
              margin-bottom: 20px;
            }
            .explanation {
              @include m.mediaMobile {
                font-size: 28px;
              }
              font-size: 50px;
              font-weight: 700;
              line-height: 1.4;
              color: #191f28;

              word-break: keep-all;
              white-space: pre-wrap;
            }
          }
          .secondContent {
            @include m.mediaMobile {
              position: static;
              width: 100vw;
              margin-left: -24px;
              transform: unset;
            }
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;

            position: absolute;
            top: 50%;
            right: -60px;

            transform: translate3d(0, -50%, 0);
            .secondContentWrapper {
              @include m.mediaMobile {
                width: 100%;
                max-width: 375px;
                height: auto;
              }
              position: relative;
              width: 600px;
              height: 936px;
              transform: translate3d(0px, 50px, 0px);
              .loanImage {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 57%;

                transform: translate3d(-50%, -50%, 0);
              }
              .iphoneShadow {
                position: relative;
                width: 100%;
                height: 100%;
              }
            }
          }
          .thirdContent {
            @include m.mediaMobile {
              font-size: 28px;
              line-height: 1.4;
            }
            display: block;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
            color: rgb(51, 65, 75);
            transform: translate3d(0px, 50px, 0px);
          }
          .fourthContent {
            @include m.mediaMobile {
              font-size: 28px;
              line-height: 1.4;
            }
            display: block;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
            color: rgb(51, 61, 75);
            transform: translate3d(0px, 50px, 0px);
            .grayColor {
              color: #8b95a1;
            }
          }
          .fifthContent {
            @include m.mediaMobile {
              margin-bottom: 19px;
              font-size: 28px;
              line-height: 1.4;
            }
            display: block;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
            color: rgb(51, 61, 75);
            transform: translate3d(0px, 50px, 0px);
            margin-bottom: 30px;
            .grayColor {
              color: #d1d5db;
            }
          }
          .sixthContent {
            @include m.mediaMobile {
              font-size: 17px;
            }
            font-size: 23px;
            font-weight: 600;
            line-height: 1.5;
            color: rgb(51, 61, 75);
            transform: translate3d(0px, 50px, 0px);
          }
        }
      }
    }
  }
}
